<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

{% include 'admin_header.html' %}

  <div id="page">
    <div id="content">
      <div class="post">
        <h2 class="title"><a href="">Employee List</a></h2>
        <div>
    <table>
  <tr>
    <th>Emp id</th>
    <th>Name</th>
    <th>Email id</th>
    <th></th>
    
  </tr>
  
    {%for n in recordlist%}
    <tr>
    <td>{{n[0]}}</td>
    <td>{{n[1]}}</td>
    <td>{{n[2]}}</td>
    <td><a href="/empprofile?eid={{n[0]}}" class="btn btn-primary">View</a></td>
    </tr>
      {%endfor%}

  
  

   
</table>
        </div>
      </div>
    </div>

    <div id="sidebar">
      <ul>
        <li>
          <h2>DASHBOARD</h2>
          <img src="/static/images/profile1.jpg" width="150px">
        </li>
        <li>
          
          <ul>
            <h4>Security Reminder :</h4>  
             Please do not share your login credentials. Change your password every 90 days.
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="footer">
  <p>&copy; Untitled. All rights reserved. Design by Amol Desai
  </p>
</div>
</body>
</html>